@model SGM.Models.OrganizacionUbicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrganizacionUbicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizacionEstructura.nivel_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizacionEstructura.nivel_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizacionUbicacion2.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizacionUbicacion2.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
