@model IEnumerable<SGM.Models.Falla>

@{
    ViewBag.Title = "Falla";
}

<h2>Falla</h2>

<p>
    @Html.ActionLink("Crear Nueva Falla", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.causa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.causa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.falla_id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.falla_id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.falla_id })
        </td>
    </tr>
}

</table>
