@model SGM.Models.Mantenimeinto

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de eliminar este mantenimiento?</h3>
<div>
    <h4>Mantenimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_matenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_matenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repetir_cada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repetir_cada)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Mantenimientos", "Index")
        </div>
    }
</div>
