@model SGM.Models.Mantenimeinto

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Manteniemiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_matenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_matenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repetir_cada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repetir_cada)
        </dd>

    </dl>
</div>
<hr />
<div>
    <h4>Empleados asignados al Mantenimiento </h4>
    @foreach (var item in Model.Empleado)
    {
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => item.apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.funcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.funcion)
            </dd>
        </dl>
    }
</div>
<hr />
<div>
    <h4>Tareas asignadas al Mantenimiento </h4>
    @foreach (var item in Model.Tarea)
    {
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => item.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.costo)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.costo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.duracion)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.duracion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.estado)
            </dd>
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.mantenimeinto_id }) |
    @Html.ActionLink("Volver a Mantenimientos", "Index")
</p>
