@model SGM.Models.Equipo

@{
    ViewBag.Title = "Detalle Equipo";
}

<h2>Detalle Equipo</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inicioOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inicioOperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finOperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esCritico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esCritico)
        </dd>

    </dl>
    <hr />
    <h4>Fallas</h4>

    @foreach (var item in Model.Falla)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => item.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.causa)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.causa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.costo)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.costo)
            </dd>
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.equipo_id }) |
    @Html.ActionLink("Volver a Equipos", "Index")
</p>
