@model SGM.Models.Tarea

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_matenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_matenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repetir_cada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repetir_cada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guardia.guardia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardia.guardia_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
