@model SGM.Models.Tarea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tiempoDuracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempoDuracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guardia.guardia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardia.guardia_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tarea_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
