@model IEnumerable<SGM.Models.Empresa>

@{
    ViewBag.Title = "Empresas";
}

    <h2>Empresas</h2>

<p>
    @Html.ActionLink("Crear Nueva Empresa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.empresa_id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.empresa_id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.empresa_id })
        </td>
    </tr>
}

</table>
