@model SGM.Models.Guardia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guardia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.coodinador_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coodinador_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.guardia_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
