@model List<SGM.Models.ViewsModel.GuardiaViewModel>

@{
    ViewBag.Title = "Guardia";
}

<h2>Guardia</h2>

<p>
    @Html.ActionLink("Crear Nueva Guardia", "Create")
</p>
@using (Html.BeginForm("Index", "Guardias", FormMethod.Get))
{
<p>
    Nombre: @Html.TextBox("SearchString")
    @{
        DateTime dt = DateTime.Now;
    }
    Fecha: @Html.TextBox("fecha", String.Format("{0:dd/MM/yyyy}", ""),
     new { @class = "datefield", type = "string" })


    <input type="submit" value="Filtrar" />
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].coodinador_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].horaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].horaFin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCoordinador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.guardia_id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.guardia_id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.guardia_id })
            </td>
        </tr>
    }
</table>
