@model SGM.Models.Recurso

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea borrar este recurso?</h3>
<div>
    <h4>Recurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidadStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Recursos", "Index")
        </div>
    }
</div>
