@model IEnumerable<SGM.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_fijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documento_tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documento_numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grupo_sanguineo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.factor_rh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_celular_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_celular_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_radio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.radio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcion.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_fijo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documento_tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documento_numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupo_sanguineo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.factor_rh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_celular_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_celular_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_radio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.radio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcion.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.empleado_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.empleado_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.empleado_id })
        </td>
    </tr>
}

</table>
