@model SGM.Models.Grupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_grupo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_grupo1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.desc_grupo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_grupo1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cod_grupo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_grupo2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.desc_grupo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_grupo2)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
