@model IEnumerable<SGM.Models.RecursoTarea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidadUsada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recurso.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarea.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadUsada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recurso.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarea.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recurso_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.recurso_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recurso_id })
        </td>
    </tr>
}

</table>
